/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

thread {
  vertical-align: middle;
  border-color: inherit;
}

th {
  padding-bottom: 5px;
  font-weight: bold;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-weight: bold;
}

form {
  display: block;
}

.field, .actions {
  margin-bottom: 10px
}

.book_title {
  padding: 1px 2px;  
  display: block;
}

.book_body {
  display: block;
}

strong {
  font-weight: bold;
}

p {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.label-box {
  margin-bottom: 10px;
}

.submit {
  margin-bottom: 10px;
}

.success {
  color: green;
}

.error {
  
}